<h1>Step 4: Publish and share the visualization</h1>

<p class="lead">The best and easiest way to use a Datawrapper chart is to embed it directly into your website or CMS. You can also upgrade your account to download your chart as an image or PDF file to use it in different contexts.</p>

<style type="text/css">
.dw-create-publish .chart-actions li {
	width: 13%;
	min-height: 80px;
	font-family: quicksand;
}
.chart-actions .action.active {
    width: 150px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
    cursor: pointer;
    background: #08c;
    border: none;
    font-size: 18px;
    line-height: 24px;
}
.chart-actions .action.active a {
    color: #fff;
}
</style>

<ul class="chart-actions" style="">
    <li class="action action-publish-s3 active" style="width:150px">
        <a role="button" href="#publish-s3">
            <i class="fa fa-cloud-upload"></i><span class="title">Embed chart on website</span>
        </a>
    </li>
</ul>

<ul class="chart-actions">
    <li class="action action-export-image">
        <a role="button" href="#export-image">
            <i class="fa fa-image"></i><span class="title">Export as static image</span>
        </a>
    </li>
    <li class="action action-export-print-pdf">
        <a role="button" href="#export-print-pdf">
            <i class="fa fa-print"></i><span class="title">Print chart<br>(as PDF)</span>
        </a>
    </li>
    <li class="action action-export-svg">
        <a role="button" href="#export-svg">
            <i class="fa fa-image"></i><span class="title">Save as SVG</span>
        </a>
    </li>

    <li class="action action-fork-chart">
        <a role="button" href="#fork-chart">
            <i class="fa fa-code-fork"></i><span class="title">Make chart forkable</span>
        </a>
    </li>
    <li class="action action-duplicate">
        <a role="button" href="#duplicate">
            <i class="fa fa-code-fork"></i><span class="title">Duplicate this chart</span>
        </a>
    </li>
</ul>